html, body {
    margin: 0;
    padding: 0;
    background-color: khaki;
    width: 100%;
    height: 100%;
}
.grid-container {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 0px 0px;
    grid-template-areas:
    'header header'
    'map     cards'
    'footer footer';
grid-template-columns: auto 200px;
grid-template-rows: 50px auto 100px;
}
#header, #map, #cards, #footer {
    margin: 0;
    padding: 0;
}
#header {
    grid-area: header;
    background-color: yellow;
}
#map {
    grid-area: map;
    background-color: aqua;
}
#cards {
    grid-area: cards;
    background-color: pink;
}
#footer {
    grid-area: footer;
    background-color: grey;
}
